$pink-color: #fb2e86;
$red-color: #fb2448;
$blue-color: #2f1ac4;
$off-nany-blue: #3f509e;
$nany-blue: #151875;
$sky-blue: #f3f9ff;
$pantone-purple: #e0d3f5;
$purple: #7e33e0;
$off-purple: #9f63b5;
$off-blue: #151875;
$main-font: "Josefin Sans", sans-serif;
$second-font: "Lato", sans-serif;
$violet: #7e33e0;
$black: #000;
$grey: #e7e6ef;
$hero-bg: #f2f0ff;
$sub-text-color: #8a8fb9;
$light-grey: #f6f7fb;
$instead-blue: #ffeac1;
$hover-section: #2f1ac4;
$light-blue: #1db4e7;
$light-blue-v2: #1389ff;
$green-color: #08d15f;
$price-grey: #1518754d;
$light-pink: #fff6fb;
$dark-grey: #7569b2;
$shadow: #0000001a;
$orange: #ffa454;
$light-purple: #eeeffb;
$white: #fff;
$light-but-dark: #8a8fb9;
$footer-bg: #e7e4f8;
$footer-brand: #9da0ae;
