.brands {
  background-image: url("../../src/brands__img/brands__img_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 200px;
  overflow: hidden;
  background-size: 904px 92px;
}
