.footer__top {
  padding: 100px 0px;
  background-color: $light-purple;
}
.footer__top__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__top_left {
  display: flex;
  flex-direction: column;
  width: 450px;
  .footer__text:first-of-type {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
.footer__title {
  font-family: $main-font;
  font-size: 38px;
  margin-bottom: 30px;
  &::selection {
    color: $footer-bg;
    background-color: $off-blue;
  }
}
.footer__form {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  width: max-content;
}
.footer__inp {
  background: transparent;
  border: none;
  padding: 12px 60px 12px 24px;
  font-family: $second-font;
  color: $dark-grey;
  font-size: 16px;
  &::placeholder {
    font-family: $second-font;
    color: $light-but-dark;
    font-size: 16px;
  }
}
.footer__btn {
  padding: 0px 45px;
  height: 100%;
  border: none;
  font-family: $second-font;
  background-color: $pink-color;
  color: $white;
  font-size: 16px;
  border-radius: 2px;
}
.footer__text {
  font-family: $second-font;
  color: $light-but-dark;`
  font-size: 16px;
  &::selection {
    color: $footer-bg;
    background-color: $light-but-dark;
  }
}
.footer__top_right {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer__link_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer__subtitle {
  font-family: $main-font;
  font-size: 22px;
  font-weight: 600;
  &::selection {
    color: $footer-bg;
    background-color: $off-blue;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.footer__link {
  font-family: $second-font;
  color: $light-but-dark;
  &::selection {
    color: $footer-bg;
    background-color: $light-but-dark;
  }
}
.footer {
  padding: 17px 0;
  background-color: $footer-bg;
}
.footer__bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__brand {
  font-family: $second-font;
  color: $footer-brand;
  font-size: 16px;
  font-weight: 600;
}
.footer__icon_list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer__icon_item {
  background-color: $nany-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
}
.footer__icon {
  color: $white;
  margin-top: 3px;
}
